.sites__content__header{
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 20px;
}

.sites__content{
  display: flex;
  flex-direction: column;
  width: 700px;
}

.sites__content .Table{
  width: 100%;
}

.sites__content .Table tr:hover td{
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  color: #ffffff;
}
