.layout__content_theme_changePassword .layout__navbar{
  display: none;
}
.layout__sidebar.layout__sidebar_theme_changePassword{
  width: 395px;
}
.changePassword-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.changePassword-form__label{
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.changePassword-form .input{
  margin-bottom: 50px;
}
.changePassword-form__links{
  margin-top: 40px;
  margin-left: -20px;
  text-align: left;
}
.changePassword-form__button{
  text-align: left;
}
.info__content .changePassword-form{
  margin-top: 50px;
}
.changePassword__errors{
  color: #ed422f;;
  text-align: left;
  margin-top: -20px;
}
.changePassword__msg-success{
  color: #ff8201;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
  width: 430px;
}
.info__content .changePassword__msg-success{
  color: #799c48;
}
